body{
    background-image: url("../img/training-bg-3.jpg");
    background-attachment: fixed;

}
/*навигация*/
.navbar{
    background: rgba(9, 129, 181, 0.1);
    font-size: 20px;

}
.navbar .work-a{
    font-size: 30px;
}
.navbar p{
    color: #090759;
    -webkit-text-fill-color: #090759;
    -webkit-text-stroke: 1px red;
}
.navbar a{
    color: #090759;
    -webkit-text-fill-color: #090759;
    -webkit-text-stroke: 1px red;
}
.navbar .navbar-toggler{
    background: rgb(9,129,181);
    color: red;
}
.navbar .inner{
    border-right: 2px solid;
    border-right-color: #090759;
    -webkit-text-fill-color: #090759;
    -webkit-text-stroke: 1px red;
}

.search-job {
    background: rgba(254,254,254,0.7);
    background-size: cover;
    margin-top: 100px;
    border: red 3px solid;
    }
.search-job .row{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.search-job .job2{
    border-top: red 3px solid;
}
.search-job h5{
    font-size: 25px;
    font-weight: bold;
    font-family: "Gill Sans MT","sans-serif";
    color: #090759;
}
.search-job p{
    font-size: 25px;
    font-family: "Luminary","fantasy";
    line-height: 2.0;
    text-align: justify;
}
.search-job button{
    background: rgb(9,129,181);
    color: red;
    font-weight: bold;
}
.search-job input{
    transform:scale(2.3);
}
.search-job label {
    font-size: 25px;
    font-weight: bold;
    font-family: "Gill Sans MT", "sans-serif";
    color: #090759;
}

.contact-form{
    background: rgba(254,254,254,0.7);
    background-size: cover;
    margin-top: 100px;
    border: red 3px solid;
}

